.movie__list {
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.list__title {
  font-size: 10px;
  color: #1f3417;
}

.list__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.paginationButton {
  border-radius: 5px;
  padding: 8px 16px;
  outline: none;
  border: none;
  background-color: #1f3417;
  color: #f5c518;
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
}
.buttonsContainer {
  align-self: center;
  margin-top: 30px;
  display: flex;
  align-items: center;
}
